.hero2{
    background-image: url("./image/hero2.168774b537a9a86f6d15.jpg");
    min-height: 600px;
    border-radius: 10px;
    position: relative;
    
}
.bg{
    background-image: url("./image/bg.jpg");
}